

body {font-family: Times, Times New Roman, serif;
 box-sizing: border-box;
background-color: #ffd98e;}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

a {font-family: Times, Times New Roman, serif;
  color: #070804;}

 h1  {color:#616f39; 
 } 
 
 h2 {color:#616f39;
  text-align:center; 
 } 

p {font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

article {font-family: 'Courier New', Courier, monospace;
  text-align:center;
}

img {float: center; max-resolution: 10px;
}



/*links*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a {
  border-bottom: 1px solid #453886;
  color: #453886;
  padding-bottom: .25em;
  margin-right: 10px;
  text-decoration: none;
}

a:hover {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}


/*contact form*/

* {
  box-sizing: border-box}

  /*style inputs*/

  input [type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input [type=submit] {
    background-color: #ffb677;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    color: 616f39;
  }

  input [type=submit]:hover {
    background-color: #616f39;
  } 


/* Style container/contact section */

.container {

  border-radius: 5px;
  background-color: #ffb677;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Create two columns that float next to eachother */
.column {

  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

form {
  display: flex;
  flex-direction: column;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


.item {
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.item1 {
  margin: -15px;
}

.container2 {
  border-radius: 5px;
  background-color: #ff8364;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*skills acquiered*/

.container1 {
  border-radius: 5px;
  background-color: #ffb677;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*flexbox footer*/

.container3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container_2 {
  display: flex;
  flex-direction: row;
  width:600px;
  justify-content: space-between;
}

/*blockquote*/

blockquote {
  font-size: 3rem;
  width: 850px;
  text-align: center;
  background-color: #070804;
}
cite {
  display: block;
  text-align: right;
  font-family: Verdana, Arial, sans-serif;
  margin-top: 1rem;
  font-size: .9rem;
  color: #aaa;
  font-style: normal;
}
blockquote q {
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: .1rem;
}
blockquote q span { 
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}
q {
  quotes: "“" "”" "‘" "’";
  font-size: 25px;
  color: white;
}
q:before {
    content: open-quote;
    margin-right: .8rem;
}
q:after {
  content: close-quote;
}
q:before, q:after {
  color: #ccc;
  font-size: 4rem;
  object.style.animationIterationCount="infinite";
}