

body {font-family: Times, Times New Roman, serif;
 box-sizing: border-box;
background-color: #ffd98e;}

link {font-family: Times, Times New Roman, serif;
  color: #070804;}

 h1 {color:#616f39; text-align: center
 } 

 h2 {color:616f39; text-align: center
 }

p {font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center

}

article {font-family: 'Courier New', Courier, monospace; text-align: center;
}